<div>
    <h2>
        <span>Chat Messages</span>
        <button class="btn btn-primary float-right jh-create-entity create-chat-message" [routerLink]="['/', { outlets: { popup: ['chat-message-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Chat Message
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="chatMessages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Message</span></th>
            <th><span>Chat Session</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chatMessage of chatMessages ;trackBy: trackId">
                <td><a [routerLink]="['../chat-message', chatMessage.id ]">{{chatMessage.id}}</a></td>
                <td>{{chatMessage.message}}</td>
                <td>
                    <div *ngIf="chatMessage.chatSession">
                        <a [routerLink]="['../chat-session', chatMessage.chatSession?.id ]" >{{chatMessage.chatSession?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../chat-message', chatMessage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chat-message/'+ chatMessage.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chat-message/'+ chatMessage.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
